/* In your styling.css file */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#board {
    border-collapse: collapse;
    /*border: 2px solid black;*/
    table-layout: fixed; /* Ensures uniform cell size */
}
/*
#cats{
    display: none;
    width: 30px;
    height: 100px;
    border-collapse: collapse;
    border: 2px solid black;
    table-layout: fixed; 
}
*/
.ctd{
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px; /* Fill the width of the cell */
    height: 30px;   
}

td {
    /*border: 1px solid black;*/
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 110px; /* Fill the width of the cell */
    height: 110px;  
    min-width: 110px;  
}

.tbut {
    width: 130px; /* Fill the width of the cell */
    height: 130px; /* Fill the height of the cell */
    display: block; /* Adjusting display property */
    background-color: #DCDCDC;
    border-radius:5px
}

#submit {
    width: 150px;
    height: 50px;
    margin: 5px; /* Adds some spacing around the button */
    font-size:16px;
}

#game {
    text-align: center; /* Center the content within the game div */
}


#lives {
    text-align: center; /* Keeps the label next to the button */
    margin-bottom: 10px; /* Adds spacing between button and label */
    font-size: 25px;
}

#error-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 4px;
    z-index: 2;
  }
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    background-color: white;
    width: 20%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
  }
  
  .close {
    float: right;
    cursor: pointer;
  }
  

  /* Portrait mode styles */
@media (orientation: portrait) {
    body {
        font-size: 16px;  /* Adjust font size for portrait */
    }
    #board{
        width: 100%;
        height: 100%;
    }

    .tbut {
        width: 70px;  /* Adjust button size for portrait */
        height: 70px;
        color: black
    }
    td{
        width: 70px;  /* Adjust button size for portrait */
        height: 70px;
    }

    #submit {
       color: black
    }

    #lives {
        font-size: 20px;  /* Adjust font size for lives */
    }

    /* Make popup more compact in portrait mode */
    .popup-content {
        width: 80%;
        padding: 10px;
    }
}
